.home {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.home__header {
    position: absolute;
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #ffffff;
}

.home__header > h2 {
    font-weight: 400;
}

.home__hero {
    width: 100%;
    height: 50vh;
    padding: 5rem 1rem 4rem;
    background: #5099DE;
}

.home__hero-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.home__hero-content .into-text {
    text-align: center;
    color: #ffffff;
}

.into-text > h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.into-text > p {
    font-size: 1.5rem;
    font-weight: 400;
}

.solution > a {
    display: block;
    text-decoration: none;
    color: #5B5B5B;
}

.solution .solution__container {
    display: flex;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2rem auto 0;
    border-radius: 4px;
}

.solution .solution__image {
    display: flex;
    align-items: center;
}

.solution .solution__image > img {
    width: 100%;
}

.solution .solution__name {
    padding-left: 0.5rem;
    flex: 1;
}

.solution__name > h6 {
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
}

.solution__name > p {
    font-size: 1rem;
}

.solution__spotify .solution__image {
    width: 20%;
}

.solution__giphy .solution__image {
    width: 20%;
}

.giphy {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.app-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    box-shadow: 0 1px 4px #e8e8e8;
    text-align: center;
    background: #ffffff;
}

.app-header > button {
    position: relative;
    top: 0.25rem;
    display: flex;
    align-items: center;
    float: left;
    color: #5099DE;
    border: none;
    font-size: 1rem;
    background: transparent;
}

.app-header > h2 {
    text-transform: uppercase;
    text-align: center;
}

.giphy__chat-section {
    position: relative;
    height: 100%;
    width: 60%;
    padding-top: 70px;
    margin: 0 auto;
    background: #f8f8f8;
}

.chat-section__input {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.chat-section__input input {
    position: relative;
    width: 100%;
    height: 3rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Circular', sans-serif;
    border: 1px solid rgba(0,0,0,.15);
}

.chat-section__conversations {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

@media screen and (max-width: 500px) {
    .home__hero {
        min-height: 100vh;
    }

    .home__header {
        justify-content: center;
    }

    .home__hero-content {
        width: 100%;
    }

    .giphy__chat-section {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .home__hero-content {
        margin-top: 120px;
    }

    .app-solutions {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .solution {
        flex: 1;
        margin: 1rem;
    }

    .solution .solution__container {
        flex-direction: column;
        text-align: center;
    }

    .solution .solution__image {
        display: none;

    }

    .solution__name > h6 {
        font-size: 2rem;
    }
}
